@use "../../scss/_variables" as *;

@import "../../node_modules/bootstrap/scss/mixins";

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: $medium-font-weight;
  }
}

.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.form {
  width: 100%;
  display: grid;
  flex-direction: row;
  label {
    display: flex;
    flex-direction: column;
  }
  datalist {
    width: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: 1px solid $primary-black;
  padding: 4rem 5.875rem;

  h2 {
    font-size: 0.875rem;
  }
}

.advanced-toggle {
  color: $primary-black;
  margin-top: 1.5rem;
}

.sign-up {
  margin-top: 2.25rem;

  a {
    font-weight: $medium-font-weight;
  }
}
