@use "../../../scss/_variables" as *;

@import "../../../node_modules/bootstrap/scss/mixins";

@media (min-width: $breakpoint-mobile) {
  .tablet-style,
  .desktop-style {
    display: none;
  }
  .mobile-style {
    display: flex;
  }
}

@media (min-width: $breakpoint-tablet) {
  .mobile-style,
  .desktop-style {
    display: none;
  }
  .tablet-style {
    display: flex;
  }
}

@media (min-width: $breakpoint-desktop) {
  .mobile-style,
  .tablet-style {
    display: none;
  }

  .desktop-style {
    display: flex;
  }
}
