@use "../../../scss/_variables" as *;

@import "../../../node_modules/bootstrap/scss/mixins";

.legacy-description {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

.legacy-checkbox {
  padding-left: 2rem;
}

.checkbox {
  cursor: pointer;
  margin-right: 1rem;
}
