@use "../../../scss/_variables" as *;

@import "../../../node_modules/bootstrap/scss/mixins";

.header {
  background-color: #262626;
}

.header-top {
  display: flex;
  justify-content: space-between;
}

.header-bottom {
  padding: 0 3.5em 1.625em;
  display: flex;
  justify-content: space-between;
}

.logout-button {
  color: #fff;
  align-self: flex-start;
  margin: 1.375em 3.5em;
}

.logo {
  height: 1.2em;
  max-width: max-content;
  margin: 1.625em 3.5em;
  filter: brightness(0) saturate(100%) invert(100%) sepia(54%) saturate(22%)
    hue-rotate(359deg) brightness(106%) contrast(107%);
}

@media (min-width: $breakpoint-tablet) {
}
